<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techozon.cedricfinalappdesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.techozon.cedricfinalappdesign.Session"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CedricFinalAppDesign"
        android:usesCleartextTraffic="true">
        <activity android:name="com.techozon.cedricfinalappdesign.ForgetPasswordActivity" />
        <activity android:name="com.techozon.cedricfinalappdesign.CheckoutActivityJava" />
        <activity
            android:name="com.techozon.cedricfinalappdesign.Bottom_Navigation_Bar"
            android:windowSoftInputMode="adjustNothing" />
<!--        <activity android:name="com.techozon.cedricfinalappdesign.ExerciseDetails" />-->
        <activity android:name="com.techozon.cedricfinalappdesign.InformationActivity" />
        <activity android:name="com.techozon.cedricfinalappdesign.PaymentMethod" />
<!--        <activity android:name="com.techozon.cedricfinalappdesign.CoachesExercises" />-->
        <activity android:name="com.techozon.cedricfinalappdesign.PaymentCategory" />
        <activity android:name="com.techozon.cedricfinalappdesign.FitnessLevelActivity" />
        <activity android:name="com.techozon.cedricfinalappdesign.GoalsActivity" />
        <activity android:name="com.techozon.cedricfinalappdesign.LoginActivity" />
        <activity android:name="com.techozon.cedricfinalappdesign.SignupActivity" />
        <activity android:name="com.techozon.cedricfinalappdesign.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>